<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>

<div id="challenge">
	<!-- 1) Iniciar a execução do efeito usando botão. 
    O efeito deve alternadamente trocar as classes "destaque" e
    "encolher" para cada chamada de setInteval. Use a div abaixo
	com id "efeito" para associar as classes CSS. -->
	<h2>#01</h2>
	<div>
		<button @click="initializeEffect">Iniciar Efeito</button>
		<div id="effect" :class="effect"></div>
	</div>

	<!-- 2) Crie duas classes CSS e associe a div usando a
		sintaxe de array -->
	<h2>#02</h2>
	<div :class="['gray','textBlue']">Estou sem classe CSS :(</div>

	<!-- 3) Aplique na div abaixo a classe informada pelo usuário
		(crie classe CSS de exemplo). -->
	<h2>#03</h2>
	<div>
		<input type="text" v-model='baseClass'>
		<div :class='baseClass'>Teste</div>
	</div>

	<!-- 4) Aplique na div abaixo a classe informada pelo usuário e
    outra classe usando o valor true/false (crie classes CSS de exemplo). -->
	<h2>#04</h2>
	<div>
		<input type="text" v-model="baseClass">
		<input type="text" v-model="dynamicClass">
		<div :class="getClass">Teste ...</div>
	</div>

	<!-- 5) Repita 3) mas utilizando estilos ao invés de classes CSS.
    Associe os estilos a div abaixo  -->
	<h2>#05</h2>
	<div>
		<input type="text" v-model="color">
		<div :style="{'color': color}">Teste...............................</div>
	</div>

	<!-- 6) Crie uma barra de progresso simples com setInterval 
    e binding de estilo. -->
	<h2>#06</h2>
	<div>
		<button @click="initializeProgress">Iniciar</button>
		<div class="progress-bar">
			<div class="progress" :style="getProgress">

			</div>
		</div>
	</div>
</div>
<script src="app.js"></script>